<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Spring Core Online Tutorial</title>

<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
	th:src="@{/webjars/jquery/3.3.1/dist/jquery.min.js}"
	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	crossorigin="anonymous"></script>

<link href="../static/css/spring-core.css"
	th:href="@{css/spring-core.css}" rel="stylesheet" media="screen" />

</head>
<body>

	<div class="container">
		<h2>Customers</h2>
		<div th:if="${not #lists.isEmpty(customers)}">
			<h2>Customer List</h2>
			<table class="table table-striped">
				<tr>
					<th>Id</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email</th>
					<th>Phone</th>
					<th>Address 1</th>
					<th>Address 2</th>
					<th>City</th>
					<th>State</th>
					<th>Zip Code</th>
					<th></th>
					<th></th>
				</tr>

				<tr th:each="customer : ${customers}">
					<td th:text="${customer.id}"></td>
					<td th:text="${customer.firstName}"></td>
					<td th:text="${customer.lastName}"></td>
					<td th:text="${customer.email}"></td>
					<td th:text="${customer.phone}"></td>
					<td th:text="${customer.addressLineOne}"></td>
					<td th:text="${customer.addressLineTwo}"></td>
					<td th:text="${customer.city}"></td>
					<td th:text="${customer.state}"></td>
					<td th:text="${customer.zipCode}"></td>


					<td><a th:href="${'customer/'+ customer.id}">View</a></td>
					<td><a th:href="${'/customer/edit/'+ customer.id}">Edit</a></td>
					<td><a th:href="${'/customer/delete/' + customer.id}">Delete</a></td>
				</tr>
			</table>

		</div>
	</div>
</body>
</html>
